@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');





::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(32, 32, 77);
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent ,dimgrey);
    border-radius: 10px;
    
}




*{
    padding: 0;
    margin: 0;
    
}
body{
    min-width: 385px;
}
.hell{
    background-color: rgb(26, 29, 65);
    
    width: 100%;
    margin-top: -5px;
    min-width: 355px;
    
}
.jhon{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;    
    border-bottom: 1px solid rgb(56, 66, 83);
}
.well{
    display: flex;
    margin-top: 30px;
}
.don{
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    text-shadow: 1px 1px 10px black;
    

}
.don:hover{
    color: cornflowerblue;
    transition: .3s;
}
a{
    list-style: none;
    text-decoration: none;
}
.bean{
    color: #fff;
    font-family: 'Fleur De Leah', cursive;
    font-size: 60px;
    margin-left: 30px;
    text-shadow: 2px 2px 10px black;
}
.bean:hover{
      color: rgb(221, 217, 203);

}

@media (max-width:470px){
    .don{
        font-size: 15px;
    }
}










.folw{
    display: flex;
    width: 100%;
}
.soloman{
    width:50%;
}
.earn{
    width: 50%;
}
.lamp{
    width: 80%;
    height: 340px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.lol{
    margin-left: 15%;
    margin-top: 100px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    font-size:15px ;

}
.hammer{
    margin-left:15% ;
    margin-top: 40px;
    color: #fff;
    font-family:sans-serif ;
    font-size: 60px;
    font-weight: 500; 
}
.you{
    margin-left: 15%;
    margin-top: 50px;
    display: flex;
}
.qont{
    height: 50px;
    width: 170px;
    border: none;
    background-color:rgb(75, 205, 245);
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.qont:hover{
    background-color: dodgerblue;
    transform: scale(1.1);
    transition: .5s;

}
.ico{
    margin-left: 30px;
    font-size: 50px;
    color:rgb(75, 205, 245);
    margin-top: -10;
    cursor: pointer;
}
.ico:hover{
    transform: scale(1.1);
    transition: .5s;
    color: dodgerblue;

}
.intro{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;

}
@media (max-width:950px){
    .folw{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .soloman{
        width: 100%;
    }
    .lol{
        margin-left:0 ;
    }
    .hammer{
        margin-left: 0;
    }
    .you{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .qont{
        width: 130px;
    }
    .intro{
        width: 140px;
    }
    .earn{
        width: 100%;
    }
    .lamp{
        width: 100%;
        height: 0%;

    
    }

}
.lop{
    display: flex;
    background-color: rgb(245, 244, 244);
    width: 100%;
}
.loop{
    width: 50%;
}
.lung{
    padding-left: 15%;
    padding-top:50% ;
    color:rgb(34, 46, 56);
    font-family: sans-serif;
    font-size: 50px;
    

}
.loup{
    margin-top: 30px;
    color: rgb(41, 42, 56);
    font-weight:500 ;
    font-family: sans-serif;
    margin-left:15% ;
    width: 57%;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10%;
}










.slap{
    width:50%;
}
.wopp{
    
    width: 85%;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-bottom: 15%;
}
@media (max-width:770px){
    .lop{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

    }
    .loop{
       width: 100%;  
    }
    .lung{
        margin-left: -15%;
        text-align: center;
        margin-top: -50%;

    }
    .slap{
        width: 100%;
        margin-top: -20px;
    }
    .loup{
        margin-left: 0;
        width: 100%;
    }

}
.latin{
    display: flex;
    width: 100%;
    background-color: rgb(245, 244, 244);
    border-top: 2px solid rgb(228, 225, 225);
    border-width: 80%;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(228, 225, 225);
    padding-bottom: 7%;
}
.lsoter{
    width: 50%;
    padding-left: 7%;
    padding-top: 10%;
}
.wero{
    width: 100%;
    height: 100%;
}






.wopl{
    width: 50%;
    padding-top: 10%;
    padding-left: 8%;
}
.woli{
    color: rgb(40, 40, 61);
    padding-top: 30%;
}
.twnk{
    margin-top: 6%;
    line-height: 40px;
    width: 71%;
    font-size: 20px;
    color: rgb(54, 54, 65);
}
@media (max-width:770px){
    .latin{
      display: flex;
      flex-direction: column;
      justify-content:center;
      
    }
    .lsoter{
      width: 100%;
      padding-left: 0;
    }
    
    .woli{
        padding-top: 0%;
        text-align: center;
    }
    .wopl{
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    
    .twnk{
        width: 100% ;
    }
   
}

.raju{
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    color:rgb(21, 21, 48) ;
}
.kaleem{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.jagu{
    margin-top: 150px;
    border:1px solid rgb(223, 218, 218) ;
    height: 400px;
    width: 25%;
    font-family: sans-serif;
    text-align: center;
     border-radius:5px ;

   display: flex;
   flex-direction: column;
   justify-content: center;


}
.jung{
    color: rgb(30, 30, 65);
    margin-top: 40px;
    font-weight: 750;
    font-size: 17px;
    border-radius: 5px;
}
.jamil{
    color:  rgb(15, 15, 56);
    font-size: 40px;
    margin-top: 30px;
}
.halem{
    margin-top: 30px;
    width: 65%;
    margin-left: 18%;
    text-align: center;
   
    line-height: 30px;
    font-weight: 500;
    color: dimgrey;
    font-size: 15px;
}
.kema{
    margin-top: 30px;
    height: 50px;
    background-color: rgb(102, 171, 240);
    border-radius: 5px;
    border: none;
    width: 60%;
    color: #fff;
    font-weight:700 ;
    font-size: 17px;
    margin-left: 20%;
    cursor: pointer;
}
.kema:hover{
    background-color: dodgerblue;
    transition: .5s;

}
.almold{
    font-size: 17px;
    background-color: dodgerblue;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;

    padding-top:10px ;
}
.jabul{
    height:450px ;
    width: 25%;
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
    border: 1px solid rgb(223, 218, 218) ;
    background-color: rgb(8, 20, 58);
    border-radius:5px ;
}
.jamila{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 60px;
}
.jamoll{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
}
.halemq{
    margin-top: 30px;
    width: 65%;
    margin-left: 18%;
    text-align: center;
   
    line-height: 30px;
    font-weight: 600;
    color: rgb(91, 101, 122);
    font-size: 15px;
}
.kewma{
    margin-top: 30px;
    height: 50px;
    background-color: rgb(102, 171, 240);
    border-radius: 5px;
    border: none;
    width: 60%;
    color: #fff;
    font-weight:700 ;
    font-size: 17px;
    cursor: pointer;
}
.kewma:hover{
    background: dodgerblue;
    transition: .5s;


}
.jamolli{
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
    color:rgb(21, 21, 48) ;
}
@media (max-width:855px){
    .kaleem{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .jagu{
        width: 90%;
        margin-left: 5%;
        height: 360px;
        margin-top: 100px;
    }
    .jabul{
        width: 90%;
        margin-left: 5%;
    }
}

.kira{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   font-family: sans-serif;
   margin-top:-40px;
    

}

.sana{
    display: flex;
    
    flex-direction: column;
    margin-top: 70px;
    width: 25%;
}


.khalim{
    display: flex;
    padding-left: 8%;
 }
.wonge{
     font-size: 30px;
     color: dodgerblue;
     
}
 .higt{
     margin-left: 20px;
     margin-bottom: 15px;
     font-size: 20px;
     color: rgb(57, 57, 65);
     margin-top: 5px;

 }
 .higth{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(57, 57, 65);
    margin-top: -5px;
    line-height: 40px;
 }
.higte{
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(39, 39, 66);
    margin-top: 5px;
    font-weight: 700;

}


@media (max-width:855px){
    .kira{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .sana{
        width: 100%;
        margin-top: -10px;
         
        
    }
    .khalim{
        padding-left: 0%;
        justify-content: center;
        display: grid;
        text-align: center;
    }
    .wonge{
        text-align: center;
        margin-left: 40%;
        margin-bottom: 10px;

    }
    .higt{
        margin-left: 0;
    }
    .hight{
        margin-left: 0;
    }
    .higte{
        margin-left: 0;
    }
}

.rao{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.l{
    width: 80%;
    border-top:1px solid rgb(201, 199, 199);
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    font-family: sans-serif;
    padding-bottom:40px ;
    border-bottom:1px solid rgb(201, 199, 199) ;
}
.gi{
    font-size: 20px;
    color: rgb(44, 44, 53);
    font-weight: 500;
  
  
}
.flot{
    font-size: 18px;
    color: rgb(63, 60, 60);
    font-weight: 100;
}
.nbot{
    width: 150px;
    border-radius: 5px ;
    background-color:rgb(105, 174, 243);
    border:none ;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    margin-top: -15px;
}
.nbot:hover{
    transition:.5s ;
    transform: scale(1.1);
}
@media (max-width:820px){
    .rao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .l{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
    .flot{
        margin-top: 20px;
    }
    .nbot{
        
       margin-left: 41%;
       margin-top: 25px;
    }
}
@media (max-width:530px){
    .nbot{
     margin-left:37% ;
    }
}
@media (max-width:430px){
    .nbot{
        margin-left: 32%;
    }
}

















.phli{
    background-color: rgb(26, 29, 65);
    text-align: center;
    margin-top: 50px;

}
.odin{
  padding-top: 170px;

}
.zeus{
   color:  #fff;
   font-family: sans-serif;
   font-size: 50px;
   font-weight: 600;
  
}
.god{
   margin-top:50px ;
   height: 40px;
   width: 29%;
   border-radius: 5px;
   border: none;
   font-size: 16px;
   padding-left: 10px;
   outline: none;

}
.power{
   margin-top: 20px;
   width: 30%;
   height: 40px;
   border-radius: 5px;
   border: none;
   background-color: rgb(75, 205, 245);
   font-weight: 700;
   font-size: 17px;
   color: #fff;
   margin-bottom: 30px;
   cursor: pointer;
}
.power:hover{
   background-color: dodgerblue;
}
@media (max-width:535px){
   .zeus{
       font-size: 30px;
   }
   .god{
       width: 70%;  
   }
   .power{
       width: 70%;
   }

}


















.free{
    background-color:rgb(26, 29, 65) ;
    border-top: 1px solid rgb(41, 41, 100);
    display: flex;
    justify-content: space-between;
}
.hloi{
     display: flex;
     text-decoration:none;
     list-style: none;
     margin-top: 35px;
     margin-left: -10%;
}
.anda{
    color: #fff;
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 18px;
}
.bottam{
    margin-top: 30px;
    margin-right: 10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.qin{
    text-align: center;
    background-color:rgb(26, 29, 65) ;
    padding-top:20px;
    color: dimgrey;
    font-family: sans-serif;
    font-size: 12px;
}
@media (max-width:680px) {
    .bean{
        margin-left: 0;
    }
    .free{
        display: flex;
        flex-direction: column;
    }
    .hloi{
        display: inline;
        margin-left: -30px;
        margin-top: 10px;
    }
    .anda{
        margin-top: 25px;
    }
    .bottam{
        margin-left: 0px;
        margin-right: 0;
    }
}
@media (max-width:430px){
    .bean{
        margin-left: 0;
    }
}